@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My Online Grocery Store</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="top-right">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Account">Account</a>
                <a href="/Cart">Cart</a>
            }
            else
            {
                <a href="/Account/Login">Sign In</a>
                <a href="/Account/Register">Sign Up</a>
            }
        </div>
    </header>
    <main>
        <h1>Welcome to My Online Grocery Store</h1>
        <p>Shop for the best groceries online!</p>
    </main>
</body>
</html>