@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
<input id="Password1" type="password" />
    <input id="Checkbox1" type="checkbox" />
<textarea id="TextArea1" rows="2" cols="20"></textarea>
    <input id="Text1" type="text" />
    <input id="Button1" type="button" value="button" />



    <select id="Select1">
        <option></option>

    </select>



</div>
